{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<br>
<br>
<section id="events" class="events">
    <div class="container">

      <div class="section-title">
        <h2>Organize your <span>Event</span> in our Restaurant</h2>
      </div>

      <div class="events-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events">
        <div class="swiper-wrapper" id="swiper-wrapper-f93f4b3fcc5bc5b2" aria-live="off" style="transform: translate3d(-1756px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-birthday.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>$178</span></p>
                </div>
                <p class="fst-italic">
                  If you want to celebrate your birthday in a nice and comfortable place, you are at the right address at Charlie's. 
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Options available for parties of as large as 46 or as small as 10 in our private dining room.</li>
                  <li><i class="bi bi-check-circle"></i> Celebration cakes, florals and decor are available.</li>
                  <li><i class="bi bi-check-circle"></i> You can also hire our house-dj for your party.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below and we will call you to plan your event.
                </p>
              </div>
            </div>
          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-private.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Private Parties</h3>
                <div class="price">
                  <p><span>$290</span></p>
                </div>
                <p class="fst-italic">
                  Special occasions deserve to be celebrated with those closest to you now more than ever. Whether you’re hosting your wedding reception, commemorating a bar, bat mitzvah or toasting an engagement, we’ll make sure your “micro-celebration” is memorable.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i>Options available for parties of as large as 46 or as small as 10 in our private dining room.</li>
                  <li><i class="bi bi-check-circle"></i> Customizable dinner and drink menus.</li>
                  <li><i class="bi bi-check-circle"></i> Production services, celebration cakes, florals and decor are available.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below and we will call you to plan your event.
                </p>
              </div>
            </div>
          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-custom.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Movie &amp; Dinner Night</h3>
                <div class="price">
                  <p><span>$40</span></p>
                </div>
                <p class="fst-italic">
                  It doesn't matter if you are having your first date, want to do something nice with a friend or just have a great evening with your spouce. A dinner and movie is always a good idea.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Movie tickets are already paid.</li>
                  <li><i class="bi bi-check-circle"></i> You can enjoy a nice dinner at Charlie's.</li>
                  <li><i class="bi bi-check-circle"></i> This is an exclusive offer that you just can't refuse.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below at least one week before and we will contact you for the details.
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-birthday.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>$178</span></p>
                </div>
                <p class="fst-italic">
                  If you want to celebrate your birthday in a nice and comfortable place, you are at the right address at Charlie's. 
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Options available for parties of as large as 46 or as small as 10 in our private dining room.</li>
                  <li><i class="bi bi-check-circle"></i> Celebration cakes, florals and decor are available.</li>
                  <li><i class="bi bi-check-circle"></i> You can also hire our house-dj for your party.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below and we will call you to plan your event.
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-private.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Private Parties</h3>
                <div class="price">
                  <p><span>$290</span></p>
                </div>
                <p class="fst-italic">
                  Special occasions deserve to be celebrated with those closest to you now more than ever. Whether you’re hosting your wedding reception, commemorating a bar, bat mitzvah or toasting an engagement, we’ll make sure your “micro-celebration” is memorable.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i>Options available for parties of as large as 46 or as small as 10 in our private dining room.</li>
                  <li><i class="bi bi-check-circle"></i> Customizable dinner and drink menus.</li>
                  <li><i class="bi bi-check-circle"></i> Production services, celebration cakes, florals and decor are available.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below and we will call you to plan your event.
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-custom.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Movie &amp; Dinner Night</h3>
                <div class="price">
                  <p><span>$40</span></p>
                </div>
                <p class="fst-italic">
                  It doesn't matter if you are having your first date, want to do something nice with a friend or just have a great evening with your spouce. A dinner and movie is always a good idea.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Movie tickets are already paid.</li>
                  <li><i class="bi bi-check-circle"></i> You can enjoy a nice dinner at Charlie's.</li>
                  <li><i class="bi bi-check-circle"></i> This is an exclusive offer that you just can't refuse.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below at least one week before and we will contact you for the details.
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

        <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="1 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-birthday.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>$178</span></p>
                </div>
                <p class="fst-italic">
                  If you want to celebrate your birthday in a nice and comfortable place, you are at the right address at Charlie's. 
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Options available for parties of as large as 46 or as small as 10 in our private dining room.</li>
                  <li><i class="bi bi-check-circle"></i> Celebration cakes, florals and decor are available.</li>
                  <li><i class="bi bi-check-circle"></i> You can also hire our house-dj for your party.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below and we will call you to plan your event.
                </p>
              </div>
            </div>
          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-private.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Private Parties</h3>
                <div class="price">
                  <p><span>$290</span></p>
                </div>
                <p class="fst-italic">
                  Special occasions deserve to be celebrated with those closest to you now more than ever. Whether you’re hosting your wedding reception, commemorating a bar, bat mitzvah or toasting an engagement, we’ll make sure your “micro-celebration” is memorable.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i>Options available for parties of as large as 46 or as small as 10 in our private dining room.</li>
                  <li><i class="bi bi-check-circle"></i> Customizable dinner and drink menus.</li>
                  <li><i class="bi bi-check-circle"></i> Production services, celebration cakes, florals and decor are available.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below and we will call you to plan your event.
                </p>
              </div>
            </div>
          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="{% static '/assets/img/event-custom.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Movie &amp; Dinner Night</h3>
                <div class="price">
                  <p><span>$40</span></p>
                </div>
                <p class="fst-italic">
                  It doesn't matter if you are having your first date, want to do something nice with a friend or just have a great evening with your spouce. A dinner and movie is always a good idea.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Movie tickets are already paid.</li>
                  <li><i class="bi bi-check-circle"></i> You can enjoy a nice dinner at Charlie's.</li>
                  <li><i class="bi bi-check-circle"></i> This is an exclusive offer that you just can't refuse.</li>
                </ul>
                <p>
                  Fill in the Event Reservation Form below at least one week before and we will contact you for the details.
                </p>
              </div>
            </div>
          </div></div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

    </div>
</section>

<section id="book-a-table" class="book-a-table">
    <div class="container">
        <div class="section-title">
            <h2>Reservation Form <span>Events</span></h2>
            <p>Feel free to contact us by filling in the 'Reservation Form Events' below and we will be sure to get back to you as soon as possible to plan your event with us.</p>
          </div>

        <form action="" method="POST">
            {% csrf_token %}    
            {% bootstrap_form form %}
            {% buttons %}
            <br>
            <div class="text-center"><button class="book-a-table-btn scrollto" type="submit">Submit</button></div>
            {% endbuttons %}
          </form>     

    </div>
</section>    
{% endblock content %}