{% extends "base.html" %}
{% load static %}

{% block content %}

<br>
<br>
<br>
<section id="chefs" class="chefs">
    <div class="container">

      <div class="section-title">
        <h2>Our Professional <span>Team</span></h2>
        <p>Meet the faces behind the professionals</p>
      </div>

      <div class="row">
        {% for one in team_list %}
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="{{ one.image.url }}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>{{ one.name }}</h4>
              <span>{{ one.title }}</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% comment %}

        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="{% static '/assets/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Maria da Silva</h4>
              <span>Restaurant Manager</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="{% static '/assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Anderson Besos</h4>
              <span>Chef</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}

      </div>

    </div>
</section>

{% endblock content %}